.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
.map-frame {
  height: 100%;
}
  
#map {
  height: 100%;
}

.rotate-device {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  z-index: 77780;
  text-align: center;
}

.rotate-animation {
  font-size: 4rem;
  animation: rotate-phone 3s infinite alternate;
}

@keyframes rotate-phone {
  0% { transform: rotate(0); }
  50% { transform: rotate(-90deg); }
  100% { transform: rotate(0); }
}

.fa-mobile-alt {
  display: inline-block;
  animation: flip-phone 3s infinite alternate;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.circular-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  cursor: pointer;
  z-index: 1000; /* garantir que fique acima do mapa */
}

.circular-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.leaflet-control-zoom {
  bottom: 100px !important; /* or adjust to your needs */
  top: auto !important;
}

.leaflet-control-zoom {
  top: 10px; /* move it a bit down from the top */
}

