<mat-accordion [multi]="true" [hideToggle]="true" class="scrollbar-box scrollbar-box-chrome" [ngClass]="{'has-tabs': _hasMenuGroupTabs}">
    <mat-expansion-panel *ngFor="let menu of activeMenus" [expanded]="true" [disabled]="true">
        <div>
            <mat-expansion-panel-header [expandedHeight]="'45px'" (click)="menuClick(menu)" class="menu-header" [ngClass]="{'pinned-header': menu.pinned === true, 'selected-menu-header': selectedTagsMenuId==menu.id}">
                <mat-panel-title>
                    <div class="menu-name">
                        <p class="menu-text">{{ capitalizeFirstLetter(menu.name) }}</p>
                    </div>
                    <div class="menu-button-container">
                        <div class="menu-button">
                            <div *ngIf="menu.isEyeVisibilityOpen !== false; else elseThenBehaviorIsOpenAllEyes">
                                <mat-icon id="menu-button-close-all" (click)="closeAllEyes(menu, $event.target, $event)" class="mat-side noselect">visibility</mat-icon>
                            </div>
                            <ng-template #elseThenBehaviorIsOpenAllEyes>
                                <mat-icon id="menu-button-open-all" (click)="openAllEyes(menu, $event.target, $event)" class="mat-side noselect svg-icon" svgIcon="eye-off"></mat-icon>
                            </ng-template>
                            <mat-icon id="menu-button-lock-all" (click)="onMenuLockClicked(menu, $event)" class="mat-side noselect">
                                {{menu.pinned ? 'lock_open' : 'lock'}}
                            </mat-icon>
                            <mat-icon id="menu-button-expand" (click)="menuSwitch(menu, $event)" class="mat-side noselect" [ngClass]="{'mat-side-rot': menu.expanded}">keyboard_arrow_down</mat-icon>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </div>

        <div *ngIf="menu.expanded" class="menu-body">
            <div *ngFor="let marker of mapMarkers">
                <div *ngIf="isMarkerActive(marker)">
                    <div id="tag-list" class="tag-list" *ngIf="marker.parent_menu === menu.id">
                        <div id="tag-name" *ngIf="marker.visibility" class="tag-name" (click)="focusTagOnMap(marker)">{{marker.name}}</div>
                        <div *ngIf="!marker.visibility" class="tag-name tag-name-disabled">{{marker.name}}</div>
                        <div id="tag-button" class="marker-item-icon" [ngClass]="{'tag-item-icon':isMarkerTag(marker), 'kml-item-icon': !isMarkerTag(marker)}" (click)="pinClick(marker, $event)" [ngStyle]="{'background-color': ((selectedTagsMenuId===menu.id && marker.visibility) || marker.currentColor!==getMarkerColor(marker)) ? marker.currentColor : 'rgb(154, 154, 154)'}" >
                            <span *ngIf="isMarkerTag(marker);" class="white-circle"></span>
                        </div>
                        <div (click)="onMarkerToogleVisibilityButtonClick(marker, $event)" class="eye">
                            <mat-icon *ngIf="marker.visibility; else elseVisibilityOff">
                                visibility
                            </mat-icon>
                            <ng-template #elseVisibilityOff>
                                <mat-icon svgIcon="eye-off" class="eye-off"></mat-icon>
                            </ng-template>
                        </div>

                    </div>    
                </div>
            </div>        
        </div> 
    </mat-expansion-panel>
</mat-accordion>
<div class="right-sidebars-stack" [class.has-pinned-menus]="hasPinnedMenus">
    <app-pinned-menus-sidebar
        [capitalizeFirstLetter]="capitalizeFirstLetter.bind(this)"
        (unpinMenuEmitter)="sideBarUnpinMenuButtonClicked($event)"
        (selectMenuEmitter)="onLockedMenuSelected($event)">
    </app-pinned-menus-sidebar>
</div>
