<div>
    <div class="bar">
        <button class="button" routerLink="/" routerLinkActive="active">Voltar para coleção de mapas</button>
        <img src="/home/assets/RNP.original.png" alt="WRNP logo" id="event-logo">
    </div>

    <div *ngIf="isLoading">
        <div id="loader"></div>
    </div>

    <iframe
        id="mapframe"
        [src]="mapSource"
        [ngClass]="{ 'blurred': isLoading }"
        width="100%"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
    >
    </iframe>

    <div class="logos-frame">
        <img src="/home/assets/logos_defeso_eleiroral.png" class="logos">
    </div>
</div>