
:host {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#main-frame {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  

.video-background-container {
    position: relative;
    width: 100%;
    height: 40vh; 
    overflow: hidden;
    background-color: #000;
}  


.elementor-background-video-embed {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    min-height: 100%;
    min-width: 177.77vh; 
    transform: translate(-50%, -50%);
    z-index: 1; 
    pointer-events: none;
}

#event-logo {
    display: block;
    margin: 0 auto;
    height: 180px;
    width: 550px;
    z-index: 2;
    border-radius:0%;
}

#home-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 2;
    display: block;
    width: 85%;
}

/* .container::before {
    content: '';
    position: absolute;
    top: 13%;
    left: 0;
    right: 0;
    height: 60px;
    z-index: -1;
} */
  
#subtitle {
    text-align: center;
    font-family: sans-serif;
    font-size: 33px;
    font-weight: 300;
    margin-top: 25px;
    font-style: italic;
}
  
.collection-frame {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    column-gap: 7vw;
    padding-bottom: 120px;
}
  
.map-frame {
    padding: 10px 0 20px 0;
    text-align: center;
    align-self: center;
    display: flex; 
    max-width: 13vw;
    flex-direction: column;
    row-gap: 4px; 
}
  
.map-title {
    font-size: 26px;
    font-family: sans-serif;
    justify-self: center;
    text-align: center;
    font-weight: 350;
    min-height: 2.4em;
    width: 100%;
    margin-top: 0;
}
  
a {
    text-decoration: none;
    color: black;
}

.map-img {
    height: 16vh;
    width: 100%;
    flex-shrink: 0;
    display: block;
}
  
#logos-frame {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 10px;
    background: white;
    z-index: 10;
}
  
.map-frame:hover {
    transform: translateY(-6px) scale(1.03);
    opacity: 0.85;
}

#home-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 80%;
    height: auto;
}
