/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.popup-title {
    margin-top: -3px;
    margin-bottom: -7px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -10px;
}

/* For Google Chrome */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 156);
    border: 0px solid transparent;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 119, 118);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(119, 119, 118);
}.mat-

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none transparent;
    border-radius: 100px;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.leaflet-popup-content {
    margin: 13px 8px 0 12px !important;
}

/*FIREFOX*/
@supports (-moz-appearance:none) {
    .leaflet-popup-content {
        margin: 13px 5px 0 12px !important;
    }
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.cluster-icon {
    height: 18px;
    width: 18px;
    margin-left: -6px;
    margin-top: -7px;
    background-color: #e7955f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e7955f;
}

.clustercolored-icon {
    height: 18px;
    width: 18px;
    margin-left: -6px;
    margin-top: -7px;
    background-color: #e7955f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-style: solid;
}

.clustercolored-icon:hover,
.cluster-icon:hover {
    height: 20px !important;
    width: 20px !important;
}

.hover-icon {
    border: 0.1px solid rgb(54, 54, 54) !important;
    width: 24px !important;
    height: 24px !important;
    top: -8px !important;
    left: -8px !important;
}


.opp-open-button {
    cursor: pointer;
}

.opp-open-button:hover {
    background: linear-gradient(#e9e9e9, #f9f9f9);
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    background-color: blue;
    color: #ffffff;
}

.leaflet-container {
    background: #FFF;
}

.atlas-node-active-default-icon:hover {
    transform: scale(1.2);
}

.opp-expand-icon {
    width: 14px;
    filter: grayscale(1);
}

.opp-expand-icon:hover {
    filter: none;
}

.mat-expansion-panel-body {
    transition: all 0.5s;
    padding: 0px 24px 0px !important;
}

.tuto-background {
    opacity: 0.4;
}

.tuto-index {
    z-index: 991;
}

.mat-content-hide-toggle {
    margin-right: 0 !important;
}

.leaflet-control-zoom {
    bottom: 45px !important;  
    top: auto !important;  
}
