# Indicates to Django to collect more logs and produce helpful debug messages
# Strongly recommended to avoid running production instances in DEBUG mode
DEBUG=1

# Indicates to the Docker container that it should flush itself upon starting
# Also forces creation of a Django superuser for the admin backend as specified below
DEVELOPMENT=1

# A unique string of characters for an instance used by Django for cryptographic signing
# Strongly recommended to ensure this is unique for every production instance
SECRET_KEY=change_me_please

# Map admin backend login credentials & required user information
# if leave blank, they need to be set via another mechanism
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

# Cookie HTTP only
SESSION_COOKIE_HTTPONLY=True
SESSION_COOKIE_SECURE=True
SESSION_COOKIE_SAMESITE='Lax'

# Database settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Email config
EMAIL_DUMMY=True
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Pgadmin settings
# You must enter a valid email
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

# The domain name or IP address or host name at which this instance will be accessed
# The default values below are suitable for a local installation for development
DJANGO_ALLOWED_HOSTS=localhost web 127.0.0.1 [::1] nginx 172.17.0.1
CORS_WHITELIST = 'http://localhost:4200'

# Importer settings #

## Lists all imports that will appear on admin page (if this import is implemented)
## Implemented imports: infradpdi;
AVAILABLE_IMPORTS=''

## InfraDPDI settings
INFRADPDI_TOKEN=''

# Atlas Importer Settings
GATEWAY_BASE_URL=''
GATEWAY_AUTH_KEY=''
